@model Sozluk.EntityLayer.Concrete.Category
@{
	ViewData["Title"] = "Kategori Düzenle";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<form class="form-group" method="post">
	<div>
		<input type="hidden" asp-for="Id" />
	</div>
	<div>
		<label asp-for="Name">Kategori Adı</label>
		<input class="form-control" asp-for="Name" placeholder="Kategori Adı" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<br />
	<div>
		<label asp-for="Description">Kategori Açıklamasi</label>
		<textarea class="form-control" asp-for="Description" placeholder="Kategori Açıklaması"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<button class="btn btn btn-warning my-3">Güncelle</button>
</form>