
<form class="form-group" method="post">
	<input class="form-control" type="text" placeholder="Kategori Adı" name="Name"/>
	<input class="form-control" type="text" placeholder="Kategori Açıklaması" name="Description"/>
	<button class="btn btn-primary my-3">Ekle</button>
</form>